.section.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.intro .intro-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 50%;
  height: 100%;
  }

.intro .content {
  margin: 3rem;
}

.section.intro .intro-text::before,
.section.intro .intro-text::after {
  width: 100%;
  height: 2px;
  content: "";
  background: linear-gradient(90deg, var(--break-line-gradient-color1), var(--break-line-gradient-color2));
}


.intro .intro-image-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 50%;
  height: 100%;
}

.intro .intro-img {
  height: 75%;
}

.intro .heading-hi {
  font-size: 1.75rem;
  font-weight: 500;
  color: var(--secondary-color);
}

.intro .heading-name {
  font-size: 4.5rem;
  font-weight: 500;
  color: var(--primary-color);
  text-shadow: 1px 3px 15px var(--primary-color);
  letter-spacing: 3px;
}

.intro .heading-desc {
  font-size: 1.75rem;
  color: var(--secondary-color);
}

.intro .heading-hi,
.intro .heading-name,
.intro .heading-desc {
  margin: 0.5rem 0;
}

@media (max-width: 800px) {
  .intro .intro-text {
    width: 100%;
  }

  .intro .heading-hi {
    font-size: 1.25rem;
  }
  
  .intro .heading-name {
    font-size: 3.5rem;
  }
  
  .intro .heading-desc {
    font-size: 1.25rem;
  }

  .intro .intro-image-container {
    display: none;
  }
}