.section.projects .content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  color: var(--secondary-color);
  --content-box-height: 22rem;
  --content-box-width: calc(var(--content-box-height) * 1.5);
}

.section.projects .wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 60%;
  position: relative;
}

.section.projects .wrapper::before,
.section.projects .wrapper::after {
  width: 100%;
  height: 2px;
  content: "";
  background: linear-gradient(
    90deg,
    var(--break-line-gradient-color1),
    var(--break-line-gradient-color2)
  );
}

.section.projects .projects-details {
  width: 100%;
  padding: 2.5rem;
  height: var(--content-box-height);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.section.projects .projects-details .projects-list {
  list-style: none;
  padding: 2px;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  width: 100%;
}

.section.projects .projects-details .project-card {
  box-shadow: 0 0 10px 1px rgba(255, 255, 255, 0.466);
  background: transparent;
  border-radius: 8px;
  padding: 1rem;
  margin-right: 2rem;
  width: fit-content;
  min-width: 10rem;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.section.projects .projects-details .project-card:hover {
  background: rgba(212, 227, 255, 0.205);
  box-shadow: 0 0 20px 1px var(--mini-background-color);
}

.section.projects .projects-details .project-card.selected {
  background: var(--mini-background-color);
  box-shadow: 0 0 20px 1px var(--mini-background-color);
}

.section.projects .projects-details .project-card .logo {
  height: 1.5rem;
  margin: 0 0.5rem;
}

.section.projects .projects-details .project-card .title {
  font-size: 1.2rem;
  font-weight: 600;
  height: fit-content;
  color: var(--text-color3-blue);;
  margin: 0;
}

.section.projects .projects-details .project-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 70%;
  min-height: 5rem;
  font-size: 0.9rem;
  line-height: 1.5em;
  color: var(--secondary-color);
}

.section.projects .projects-details .tech-stack .tech-icon {
  height: 1.5rem;
  margin-right: 1rem;
}

.section.projects .projects-details .project-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.section.projects .projects-details .project-links .project-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
  font-size: 0.9rem;
  margin-right: 1rem;
  padding: 0.5rem;
  border-radius: 5px;
  color: var(--primary-color);
  box-shadow: 0 0 10px 1px rgba(255, 255, 255, 0.466);
}

.section.projects .projects-details .project-links .project-link:hover {
  background-color: var(--ternery-color);
  color: var(--secondary-color);
}

.section.projects .projects-details .project-links .link-icon {
  height: 1rem;
  margin-left: 1rem;
  color: #fff;
}

.section.projects .project-monitor-box {
  width: 40%;
  display: flex;
  justify-content: left;
}

.section.projects .project-monitor {
  position: relative;
}

.section.projects .project-monitor-image {
  height: var(--content-box-height);
  width: var(--content-box-width);
}

.section.projects .project-image {
  height: calc(var(--content-box-height) * 0.74);
  width: calc(var(--content-box-width) * 0.97);
  position: absolute;
  left: 0.5rem;
  top: 0.5rem;
  border-radius: 5px;
}

.section.projects .play-icon {
    position: absolute;
    height: 2rem;
    right : 5%;
    bottom : 5%;
    cursor: pointer;
}

.section.projects .play-icon:hover {
    transform: scale(1.1);
}

@media (max-width: 750px) {
  .section.projects .content {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-evenly;
    --content-box-height: 24rem;
    --content-box-width: calc(var(--content-box-height) * 1.5);
  }

  .section.projects .project-monitor-box,
  .section.projects .wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .section.projects .projects-details .project-card .title {
    font-size: 1rem;
  }
  

  .section.projects .projects-details .project-description {
    height: 30%;
    display: flex;
    flex-direction: row;
    overflow-y: auto;
  }

  .section.projects .project-monitor {
    width: 90%;
    height: 90%
  }

  .section.projects .project-monitor-image {
    height: 100%;
    width: 100%;
  }

  .section.projects .project-image {
    width: 97%;
    height: 74%;
    left:1%;
    top:2%
  }
}
