.section.skills .content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.section.skills .skills-basket {
  height: 350px;
  max-height: 400px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem;
  list-style: none;
  max-width: 450px;
}

.section.skills .wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  position: relative;
}

.section.skills .wrapper::before,
.section.skills .wrapper::after {
  width: 100%;
  height: 2px;
  content: "";
  background: linear-gradient(
    90deg,
    var(--break-line-gradient-color1),
    var(--break-line-gradient-color2)
  );
}

.section.skills .scroll-container {
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
}

.section.skills .scroll-container::-webkit-scrollbar {
  height: var(--scroll-thumb-thickness);
  color: var(--ternery-color);
}

.section.skills .scroll-container::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-bg-color);
  border-radius: 1rem;
}


.section.skills .skill-card {
  padding: 0.8rem;
  margin: 1rem;
  background-color: var(--mini-background-color);
  border-radius: 40%;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.6rem;
  width: 3.6rem;
  cursor: grab
}

.section.skills .skill-card.touch {
  cursor: pointer;
}

.section.skills .skill-card .skill-image {
  height: 2rem;
}

/* Skill record selector */

.section.skills .skill-selector {
  width: 550px;
  height: 400px;
  margin: 0 5%;
  box-shadow: 0 0 50px 1px rgba(255, 255, 255, 0.1);
  background: transparent;
  border-radius: 1rem;
  padding: 2rem;
}

.section.skills .box-rail {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

/* First rail */
.section.skills .skill-selector .drop-receiver {
  height: 6rem;
  width: 6rem;
  border: 2px solid var(--secondary-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 50px 1px rgba(255, 255, 255, 0.3);
}

.section.skills .skill-selector.dragging .drop-receiver {
  border: 2px solid var(--primary-color);
  box-shadow: 0 0 50px 1px rgba(255, 255, 255, 0.5);
}

.section.skills .skill-selector.dropped .drop-receiver {
  border: 2px solid var(--ternery-color);
  box-shadow: 0 0 50px 1px rgba(255, 255, 255, 0.3);
}

.section.skills .skill-selector .drop-receiver .skill-image {
  height: 3rem;
}

.section.skills .skill-selector .box-title {
  font-size: 2rem;
  color: var(--ternery-color);
  margin-bottom: 1rem;
  padding-left: 2rem;
}

/* Second rail */
.section.skills .box-rail.second-rail {
  margin: 1rem;
  text-align: start;
  height: 30%;
}

.section.skills .skill-selector .box-description {
  font-size: 1rem;
  line-height: 1.5em;
  color: var(--secondary-color);
}

/* Third rail */
.section.skills .box-rail.third-rail {
  justify-content: space-between;
  flex-direction: row;
}

.section.skills .box-rail.third-rail .experience-count {
  width: 200px;
  padding: 0.8rem 1rem;
  margin: 0 1rem;
  color: var(--secondary-color);
  border: 2px solid var(--ternery-color);
  box-shadow: 0 0 15px 2px rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  font-size: 0.8rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.section.skills .box-rail.third-rail .skill-meter-box {
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
}

.section.skills .box-rail.third-rail .chart-skills {
  width: 8rem;
  height: 4rem;
}

.section.skills .skill-meter {
  width: var(--bar-width);
  height: var(--bar-height);
  position: relative;
  font-size: 1rem;
  font-weight: 600;
  overflow: hidden;
  --bar-width: 200px;
  --bar-height: 100px;
  --bar-border-radius: 50px;
}

.section.skills .skill-meter:before {
  content: "";
  width: var(--bar-width);
  height: var(--bar-height);
  border: var(--bar-border-radius) solid rgba(255, 255, 255, 0.15);
  border-bottom: none;
  position: absolute;
  box-sizing: border-box;
  transform-origin: 50% 0%;
  border-radius: var(--bar-width) var(--bar-width) 0 0;
  left: 0;
  top: 0;
}

.section.skills .skill-meter .block {
  width: var(--bar-width);
  height: var(--bar-height);
  border: var(--bar-border-radius) solid var(--fill);
  border-top: none;
  position: absolute;
  transform-origin: 50% 0% 0;
  border-radius: 0 0 var(--bar-width) var(--bar-width);
  left: 0;
  top: 100%;
  z-index: 5;
  transform: rotate(calc(1deg * (var(--percentage) * 2)));
  box-sizing: border-box;
  cursor: pointer;
}

.section.skills .skill-meter .block.first {
  --percentage: 90;
  --fill: var(--donut-block-1-color);
}

.section.skills .skill-meter .block.second {
  --percentage: 72;
  --fill: var(--donut-block-2-color);
}

.section.skills .skill-meter .block.third {
  --percentage: 54;
  --fill: var(--donut-block-3-color);
}

.section.skills .skill-meter .block.fourth {
  --percentage: 36;
  --fill: var(--donut-block-4-color);
}

.section.skills .skill-meter .block.fifth {
  --percentage: 18;
  --fill: var(--donut-block-5-color);
}

.section.skills .skill-meter .meter-pin {
  height: calc(var(--bar-height) * 0.75);
  width: 4px;
  border-radius: 100% 100% 2px 2px;
  background: linear-gradient(
    to top,
    var(--ternery-color),
    var(--secondary-color)
  );
  transition: border-width 0.5s ease-in-out;
  background-color: var(--secondary-color);
  z-index: 10;
  position: absolute;
  left: calc(var(--bar-width) / 2);
  bottom: 5px;
  transform: rotate(-90deg);
  transform-origin: bottom;
}

.section.skills .skill-selector.dropped:not(.dragging) .skill-meter .meter-pin {
  transform: rotate(var(--skill-percentage));
  -webkit-animation: 1s rotateMeterPinAnimation ease;
  animation: 1s rotateMeterPinAnimation ease;
}

.section.skills .skill-selector.dropped.dragging .skill-meter .meter-pin {
  transform: rotate(var(--exisiting-skill-percentage));
}

.section.skills .skill-meter .meter-bob {
  height: 10px;
  width: 10px;
  border-radius: 100%;
  background-color: var(--ternery-color);
  position: absolute;
  bottom: 0;
  left: calc(var(--bar-width) / 2 - 3px);
}

@media (max-width: 750px) {
  .section.skills .content {
    flex-direction: column;
  }

  .section.skills .skills-basket {
    width: 100%;
    max-height: 250px;
    padding: 0;
  }

.section.skills .scroll-container {
  height: 300px;
}

  .section.skills .skill-selector {
    width: 90%;
    height: fit-content;
  }

  .section.skills .wrapper {
    margin: 3rem 0;
  }
}

@media (max-width: 600px) {
  .section.skills .box-rail.third-rail {
    flex-direction: column;
    align-items: center;
  }

  .section.skills .box-rail.third-rail .experience-count,
  .section.skills .box-rail.third-rail .skill-meter-box {
    width: 100%;
    margin: 1rem 0;
  }
}

@-webkit-keyframes rotateMeterPinAnimation {
  0% {
    transform: rotate(var(--exisiting-skill-percentage));
  }
  20% {
    transform: rotate(-90deg);
  }
}

@keyframes rotateMeterPinAnimation {
  0% {
    transform: rotate(var(--exisiting-skill-percentage));
  }
  20% {
    transform: rotate(-90deg);
  }
}
