.App {
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.side-nav-container {
  width: 10%;
  height: 100%;
  background-color: var(--nav-background-color);
  position: fixed;
  right: 0;
  top: 0;
  min-width: 10rem;
  z-index: 100;
}

.body-container {
  width: 90%;
}

.section {
  height: 100vh;
  position: relative;
  background-color: var(--main-background-color);
  color: var(--text-color1-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-color1-white);
}

.section .title {
  font-size: 3rem;
  font-weight: 500;
  margin-top: 6rem;
  padding: 0;
  color: var(--secondary-color);
}
