.section.career .content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 3rem;
  color: var(--secondary-color);
}

.section.career .step-progress {
  position: relative;
  padding-left: 5rem;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.section.career .step-progress-item {
  position: relative;
  display: block;
  margin-bottom: 2rem;
}

.section.career .step-progress-item-content {
  display: flex;
  flex-direction: row;
}

.section.career .step-progress-item-content * {
  line-height: 1.75em;
}

.section.career .org-logo {
  width: 2.5rem;
  height: fit-content;
  margin-top: 0.5rem;
  position: absolute;
  left: -4.25rem;
  z-index: 100;
  background-color: var(--main-background-color);
  padding: 3px;
  border-radius: 40%;
}

.section.career .org-position {
  font-size: 1.25rem;
}

.section.career .org-name {
  color: var(--ternery-color);
}

.section.career .org-name:hover {
  color: var(--primary-color);
}

.section.career .org-tenure {
  color: var(--text-color2-gold);
}

.section.career .step-progress::before {
  display: inline-block;
  content: "";
  position: absolute;
  top: 1.25rem;
  left: 2rem;
  width: 2px;
  height: 75%;
  background: linear-gradient(
    to bottom,
    var(--break-line-gradient-color1),
    var(--text-color1-white)
  );
}

@media (max-width: 750px) {
  .section.career .content {
    align-items: flex-start;
  }
}
